<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-clun-white mt-4 mb-3 d-flex aling-items-center justify-content-center gap-2">
                    <img src="../assets/toluca_logo.png" alt="Logo" width="20" height="20">
                    CLUB TOLUCA
                </h4>
                <div class="my-3">
                    <a href="http://www.facebook.com/tolucafc" class="text-white mx-2 fs-3">
                        <i class="bi bi-facebook"></i></a>
                    <a href="http://www.instagram.com/tolucafc" class="text-white mx-2 fs-3">
                        <i class="bi bi-instagram"></i></a>
                    <a href="http://www.youtube.com/@Deportivotolucafcoficial" class="text-white mx-2 fs-3">
                        <i class="bi bi-youtube"></i></a>
                </div>
                <p class="small text-white">&copy; 2026 Deportivo Toluca | Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>